/* General body styles */
body {
    margin: 20px;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Ensure content doesn't overlap with navbar */
body {
    padding-top: 70px;
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* Container styles for better spacing */
.container-fluid {
    padding: 5px;
    background-color: #c7ccff;
}

/* Navbar styles */
.navbar-brand {
    font-size: 1.5rem;
    padding: 5px;
}

.navbar-nav .dropdown-menu {
    margin-top: 0;
    text-align: center;
}

.container-content{
    text-align: center;
    margin: 25px;
    color: white;
}
.navbar {
    margin: 0;
    padding: 0;
}

.btn-outline-success{
    background-color: white;
}

.no-bullets{
    list-style-type: none;

}







